<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container{
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>RTSP</h1>
      <video style="width: 500px; height: 500px; border: solid 1px red" id="video" muted></video>
      <input
        type="text"
        placeholder="播放地址"
        id="val"
        value="http://localhost:8000/live/rtsp.flv"
      />
      <button onclick="onPlay()">播放</button>
    </div>
  </body>
  <script src="ffmpeg/ffmpeg.min.js"></script>
  <script src="flv/flv.min.js"></script>
  <script src="js/player.js"></script>
  <script>
    function onPlay() {
      let value = document.getElementById("val");
      const player = new Player("video", flvjs, false);
      player.play(value.value);
    }
    // const { createFFmpeg } = FFmpeg;
    // const ffmpeg = createFFmpeg({ log: true });
    // let outUrl = "http://10.10.6.109:9090/live/h264";
    // // ffmpeg.run('-i','rtsp://10.10.5.201:8557/h264','-vcodec','copy','-an','-f','flv','blob:http://localhost:9090/live/h264')
    // (async () => {
    //   await ffmpeg.load();
    //   ffmpeg.FS("writeFile", "test.avi", await fetchFile("h264/1.ps"));
    //   await ffmpeg.run("-i", "test.avi", "test.mp4");
    //   await fs.promises.writeFile("./test.mp4", ffmpeg.FS("readFile", "test.mp4"));
    //   // process.exit(0);
    // })();
    // const { createFFmpeg, fetchFile } = FFmpeg;
    // const ffmpeg = createFFmpeg({ log: true });
    // const transcode = async (url, name) => {
    //   await ffmpeg.load();
    //   ffmpeg.FS("writeFile", name, await fetchFile(url));
    //   // await ffmpeg.run("-i", name, "output.mp4");
    //   ffmpeg.run(
    //     "-i",
    //     "rtsp://10.10.5.201:8557/h264",
    //     "-vcodec",
    //     "copy",
    //     "-an",
    //     "-f",
    //     "flv",
    //     "blob:http://localhost:9090/live/h264"
    //   );
    //   const data = ffmpeg.FS("readFile", "output.mp4");
    //   const video = document.getElementById("video");
    //   // video.src = URL.createObjectURL(new Blob([data.buffer], { type: "video/mp4" }));
    //   // video.src = URL.createObjectURL(new Blob([data.buffer], { type: "video/mp4" }));
    //   let url = URL.createObjectURL(new Blob([data.buffer], { type: "video/mp4" }));
    //   player.play(url);
    // };
    // transcode("h264/1.ps", "1.ps");
    // document.getElementById("uploader").addEventListener("change", transcode);
  </script>
</html>
